*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}


/* ================= JOIN PAGE ================= */


.join-container{

  height:100vh;

  width:100%;

  display:flex;

  justify-content:center;

  align-items:center;

  background:#2563eb;

}


.join-box{

  width:380px;

  padding:40px;

  background:white;

  border-radius:20px;

  box-shadow:0 20px 40px rgba(0,0,0,0.25);

}


.join-box h1{

  text-align:center;

  margin-bottom:30px;

  color:#1e293b;

  font-size:32px;

}


.join-box input{

  width:100%;

  padding:15px;

  margin-bottom:15px;

  border-radius:10px;

  border:1px solid #cbd5e1;

  font-size:16px;

}


.join-box button{

  width:100%;

  padding:15px;

  border:none;

  border-radius:10px;

  background:#2563eb;

  color:white;

  font-size:17px;

  cursor:pointer;

}


.join-box button:hover{

  background:#1d4ed8;

}



/* ================= CHAT PAGE ================= */


.chat-layout{

height:100vh;

display:flex;

background:#f1f5f9;

color:#111827;

}



/* SIDEBAR */


.sidebar{

width:280px;

background:#1e40af;

padding:25px;

color:white;

}


.sidebar h2{

font-size:28px;

margin-bottom:35px;

}



.user-box,
.room-box{

background:#3b82f6;

padding:18px;

border-radius:12px;

margin-bottom:15px;

font-size:18px;

}



/* CHAT AREA */


.chat-area{

flex:1;

display:flex;

flex-direction:column;

background:#e2e8f0;

}



/* MESSAGES */


.messages{

flex:1;

padding:30px;

overflow-y:auto;

}


.message{

background:white;

color:#111827;

padding:12px 18px;

border-radius:15px;

width:fit-content;

max-width:60%;

margin-bottom:15px;

box-shadow:0 3px 8px rgba(0,0,0,0.12);

}


.message b{

color:#2563eb;

}


.message.own{

margin-left:auto;

background:#2563eb;

color:white;

}



/* INPUT */


.input-box{

display:flex;

padding:20px;

background:white;

border-top:1px solid #cbd5e1;

}



.input-box input{

flex:1;

padding:15px;

border-radius:12px;

border:1px solid #cbd5e1;

font-size:16px;

}



.input-box button{

margin-left:12px;

width:60px;

border:none;

border-radius:12px;

background:#2563eb;

color:white;

font-size:22px;

cursor:pointer;

}
.message p{

margin-top:8px;

font-size:16px;

}



.message span{

display:block;

text-align:right;

font-size:11px;

margin-top:8px;

opacity:0.7;

}